@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 20px;
    background-color: black;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav-links {
    position: fixed;
    right: -100%;
    top: 0;
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
    transition: .5s;
    padding: 20px;
} 

.nav-links.active {
    right: 0;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

li {
    padding: 20px;
}

li a {
    color: hsl(240, 100%, 5%);
}

li a:hover {
    color: hsl(5, 85%, 63%);
}

picture > img {
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 50px;
    color: hsl(240, 100%, 5%);
}

.description p {
    padding: 20px 0;
    line-height: 30px;
}

.description a {
    padding: 14px 30px;
    background-color: hsl(5, 85%, 63%);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    max-width: 350px;
    letter-spacing: 3px;
    font-weight: 700;
}

.description a:hover {
    background-color: hsl(240, 100%, 5%);
}

aside {
    background-color: hsl(240, 100%, 5%);
    padding: 20px;
    color: white;
    margin: 30px 0;
}

aside h2 {
    color: hsl(35, 77%, 62%);
}

.sections {
    padding: 20px 0;
    border-bottom: 1px solid hsl(233, 8%, 79%);
}

.sections:last-child {
    border-bottom: none;
}
.sections h3 a {
    color: hsl(36, 100%, 99%);
}

.sections h3 {
    margin-bottom: 15px;
}

.sections h3 a:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}
.sections p {
    color: hsl(233, 8%, 79%);
    font-size: 14px;
    line-height: 25px;
}

.content1,
.content2,
.content3 {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.img img {
    width: 100px;
}

.text-class {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-class span {
    font-size: 30px;
    color: hsl(233, 8%, 79%);
    font-weight: 800;
}

.text-class h4 a{
    color: hsl(240, 100%, 5%);
    font-weight: 800;
    font-size: 20px;
}

.text-class h4 a:hover {
    color: hsl(35, 77%, 62%);
}

.text-class p {
    color: hsl(236, 13%, 42%);
    font-size: 14px;
}

@media (min-width: 700px) {
    body {
        padding: 50px;
    }

    .hamburger {
        display: none;
    }


    .nav-links {
        position: absolute;
        top: 30px;
        right: 40px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
    }

    .links li a {
        color: hsl(240, 100%, 5%);
    }

    .links li a:hover {
        color: hsl(5, 85%, 63%);
    }

    aside {
        margin: 0;
    }

    .container1 {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }

    .part {
        display: flex;
    }

    .part h1 {
        width: 100%;
        margin-top: 20px;
    }

    .container {
        display: flex;
        margin-top: 30px;
        gap: 25px;
    }

    aside h2 {
        font-size: 30px;
    }

    .description a {
        margin-top: 20px;
    }

    .sections {
        padding: 30px 0;
    }
}