@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
	--clr-primary-400: hsl(35 77% 62%);
	--clr-primary-700: hsl(5, 85%, 63%);

	--clr-offWhite: hsl(36, 100%, 99%);
	--clr-grayishBlue: hsl(233, 8%, 79%);
	--clr-darkGrayishBlue: hsl(236, 13%, 42%);
	--clr-veryDarkBlue: hsl(240, 100%, 5%);

	--ff-primary: "Inter", sans-serif;

	--fw-regular: 400;
	--fw-bold: 700;
	--fw-extrabold: 800;
}

*,
*:before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	font-size: 15px;
}

body {
	font-family: var(--ff-primary);
	font-size: 1rem;
	line-height: 1.5;
}

img {
	display: block;
	width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	margin-inline: auto;
	width: min(90%, 73em);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 2rem;
}

.logo {
	max-width: 50px;
}

.burger {
	cursor: pointer;
	z-index: 1111;
}

.bar {
	display: block;
	width: 30px;
	height: 3px;
	margin: 5px;
	background-color: black;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.nav-links {
	position: fixed;
	z-index: 1000;
	inset: 0 0 0 30%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: min(30vh, 10rem) 2em;
	background-color: white;
	transform: translateX(100%);
	transition: 0.5s;
}

.nav-links.active {
	transform: translateX(0);
}

.burger.active .bar:nth-child(2) {
	opacity: 0;
}

.burger.active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.burger.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

.nav-links li a {
	color: var(--clr-veryDarkBlue);
}

.nav-links li a:hover {
	color: var(--clr-primary-700);
}

.article__text .article__head {
	font-size: 2.5rem;
	font-weight: var(--fw-extrabold);
	line-height: 1.1;
	padding: 1.5rem 0;
	color: var(--clr-veryDarkBlue);
}

.article__p {
	color: var(--clr-darkGrayishBlue);
	line-height: 1.8;
}

.article__btn {
	padding: 1rem 2rem;
	text-transform: uppercase;
	border: none;
	background-color: var(--clr-primary-700);
	color: var(--clr-offWhite);
	font-weight: var(--fw-extrabold);
	letter-spacing: 3px;
	margin: 1rem 0;
	cursor: pointer;
	transition: 150ms ease-out;
}

.article__btn:hover {
	background-color: var(--clr-veryDarkBlue);
}

.new {
	background-color: var(--clr-veryDarkBlue);
	padding: 1.5rem;
	margin: 1.5rem 0;
}

.new__head {
	color: var(--clr-primary-400);
	font-size: 2rem;
}

.new__grid-one {
	border-bottom: 1px solid var(--clr-darkGrayishBlue);
	padding: 2rem 0;
	display: grid;
	gap: 0.5rem;
}

.new__grid-one:last-child {
	border: none;
	padding-bottom: 0;
}

.new__grid-one h3 {
	color: var(--clr-offWhite);
	font-size: 1.3rem;
	font-weight: var(--fw-extrabold);
	cursor: pointer;
}

.new__grid-one h3:hover {
	color: var(--clr-primary-400);
}

.new__grid-one p {
	color: var(--clr-grayishBlue);
	line-height: 1.8;
}

.bottom {
	display: grid;
	gap: 2rem;
	padding: 3rem 0;
}

.content {
	display: flex;
	gap: 1.5rem;
}

.content img {
	max-width: 100px;
}

.content__text {
	display: grid;
	gap: 0.5rem;
}

.content__text span {
	color: var(--clr-grayishBlue);
	font-size: 2rem;
	font-weight: var(--fw-extrabold);
	line-height: 1;
}

.content__text h4 > a {
	color: var(--clr-veryDarkBlue);
	font-size: 1.2rem;
	font-weight: var(--fw-extrabold);
}

.content__text h4 > a:hover {
	color: var(--clr-primary-700);
}

.content__text p {
	color: var(--clr-darkGrayishBlue);
}

@media (min-width: 1024px) {
	nav {
		padding-block: 3rem;
	}

	.burger {
		display: none;
	}

	.nav-links {
		transform: translateX(0);
		position: static;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0;
	}

	.nav-links li a {
		color: var(--clr-darkGrayishBlue);
	}

	.top {
		display: grid;
		grid-template-columns: 2fr 1fr;
		align-items: start;
		gap: 2rem;
	}

	.article__text {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 2rem 0;
	}

	.article__text .article__head {
		font-size: 4rem;
		padding: 0;
	}

	.article__desc {
		display: grid;
		gap: 1rem;
	}

	.article__btn {
		place-self: start;
	}

	.new {
		margin: 0;
	}

	.new__head {
		font-size: 2.5rem;
		line-height: 1;
	}

	.bottom {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
